.portfolio {
    padding-top: 2em;
    background-color: #DBF5F8;
    
    .image-gallery {
        margin: auto;
        width: 70%;
        padding: 50px 0; 
    }

    .image-gallery-description {
        word-break: break-all;
    }

    .image-gallery-slide .image-gallery-description {
        width: 100%;
        bottom: 30px!important;
        text-align: center;
    }
}

@media screen and (max-width: 925px) {
    .portfolio .image-gallery {
        margin: auto;
        width: 90%;
    }
}