.portfolio {
    background-color: #ffffff;

    &--images{
        width: 90%!important;
        margin: auto!important;

        &:hover{
            .portfolio--images--item{
                opacity: .4;
            }
            .portfolio--images--item img{
                box-shadow: none;
                -webkit-transform: scale(.95);
                transform: scale(.95);
            }
        }

        &--item{
            position: relative;
            padding: 0 15px 15px;
            transition: all .3s;
            text-align: center;

            img{
                display: block;
                position: relative;
                border-radius: 6px;
                -webkit-transition: all .3s;
                transition: all .3s;
                box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            }

            &--option{
                display: none;
                position: absolute;
                top: 35%;
                left: 35%;

                a{
                    color: #337ab7;
                    text-decoration: none;
                    cursor: pointer;
                    
                    i{
                        color: white;
                        background-color: teal;
                        font-size: 2em;
                        padding: 5px;
                        opacity: .8;
                        border-radius: 4px;
                        margin: 5px;
                    }
                }
            }

            &:hover{
                opacity: 1!important;

                img{
                    -webkit-transform: scale(1) !important;
                    transform: scale(1) !important;
                    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
                }

                .portfolio--images--item--option{
                    display: block;
                }
            }
        }
    }
}
.MuiDialog-container{
    cursor: zoom-out;
}
.MuiDialog-paperWidthSm{
    max-width: none!important;
    width: 100%;
}

.MuiDialog-paperScrollPaper{
    max-height: calc(100% - 30px)!important;
    background: transparent!important;
}
.MuiDialogContent-root{
    overflow-y: hidden!important;
}

.Component-closeButton-217 {
    color: white!important;
}
.MuiDialogContent-dividers{
    border-top: none!important;
}
.image-gallery-content{
    cursor: pointer;
}
.MuiPaper-elevation24{
    box-shadow: none!important;
}
.image-gallery {
    width: 80%;
    margin: auto;
}