.home {
    background-color: #f1f1ff;
    height: 100vh;
    text-align: center;
    background-image: url(./a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



