.navigation{
    position: fixed;
    width: 100%;
    z-index: 99;

    a{
        color: white;
        font-size: 17px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px;
        font-weight: 900;

        &:hover{
            color: #484848;
        }
    }
}

.mobileMenu{
    z-index: 100;
}

.MuiAppBar-colorPrimary{
    background-color: transparent!important;
}

.MuiListItem-gutters{
    padding: 0!important;
    min-height: max-content!important;
}

.hiddenItems {
    color: steelblue;
    text-decoration: none;
    width: 100%;
    padding: 10px 16px;
    font-size: 17 px!important;
}